<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('includes/navigation.ejs') %>

    <main>
        <h3>Book Shop</h3>
        <p>Phone no. 9764318524<br>
        Email: bookshop@yahoo.com<br>
        Address: Shop no 22, Hajipur<br>
        Delhi, India 78995</p>
    </main>
<%- include('includes/end.ejs') %>